body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(https://static.pexels.com/photos/21787/pexels-photo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  color: #00B7FF;
}

.results-page tbody {
  background-color:rgba(255, 255, 255, 0.5);
}
